.loader {
    border: 16px solid #ECF0F1; /* Light grey */
    border-top: 16px solid #2ECC71; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

body {
    background-color: #17202A;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}